body {
    background-color: black;
}

.loading-bar {
    width: 300px;
    height: 20px;
    background-color: #000000;
    position: relative;
    margin: 50px auto;
}

.loading-bar::before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.8);
    position: absolute;
    border-radius: 10px;
    animation: loading-animation 4s infinite;
}
/*.page-transition {
  opacity: 0;
  transition: opacity 0.5s;
}*/

.page-loaded {
  opacity: 1;
}

@keyframes loading-animation {
    0% {
        width: 0;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}
